*{
    margin: 0;
    padding: 0;
    
    
}

body{
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    
    background-image: url("img.Portifolio/imagemPortifolio.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

header{
    background-color: #d5fd20da;;
    color:#616161;
    padding: 50px;
    text-align: center;
    border-radius: 50px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 30px;
    font-weight: bold;

}

main{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
    padding: 20px;
}

.content{
    background-color: #d5fd20da;
    padding: 20px;
    border-radius: 30px;
    color: #616161;
    

}

footer{
    
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.linhaSeparadora{
    border: none;
    height: 6px;
    background: linear-gradient(to right, transparent, #bfeb22, transparent);
    margin: 60px 0;
}


.contato{
    color: #616161;
    display:line;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 15px;
    padding: 30px;
    background-color: #ade416ec;
    border-radius: 50px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 18px;
    text-decoration: none;
    margin: 20px;
    
}

.inicio{
    color: #616161;
    display:line;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 15px;
    padding: 30px;
    background-color: #ade416ec;
    border-radius: 50px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 18px;
    text-align: center;
    font: 35px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
}
